body {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 1.5em;
    background: #F0F0F0;
    position: fixed;
    top: 0;
    font-size: 1.5em;
    color: black;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

#content {
    padding: 60px 0;
}

footer {
    width: 100%;
    height: 1em;
    background: #F0F0F0;
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    color: black;
}

@media (max-width: 500px) {
    header {
        font-size: 3em;
    }
}
